/* Body */

body{
    background: url('res/Images/background12.png');
    font-family: Arial, Helvetica, sans-serif;
}


/* .top-bar - MIKASA Logo and following list */

.border-right-item::after {
    content: '|';
    padding-left:1.4rem;
}

@media (max-width: 992px) {
    .border-right-item::after {
        content: '';
        padding-left:0rem;
    }
}

/*Top Navigation Bar */

.top-nav-nc {
    width: 70%;
}

.top-nav-parent > nav {
    background-color:#dad8d9;
    
}


.top-nav-parent {
    border-top: 1px solid #dad8d9;
    border-bottom: 1px solid #dad8d9;
}

.top-nav-item{
    border-right: 2px solid white;
}

/*Second Navigation Bar */


.second-nav-item::before {
    content: '○';
    padding-right: 1rem;
    cursor: default;
}
@media (max-width: 992px) {
    .second-nav-item::before {
        content: '';
        padding-right: 0rem;
        cursor: default;
    }
}

.bridal-registry {
    text-decoration: none;
    color: grey;
}

.bridal-registry:hover {
    color: #3d3c3a;
}

/* Top Main Content */

/*Left Side*/
.left-column {
    border: 10px solid white;
}

/*Right Side*/

.right-column{
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    background-color: #3d3c3a;
    align-items: center;
    
}
.right-sub-column {
    background-color: #3d3c3a;
    border: 2px solid #52524f;
    height: 100%;
    color: #d6d4d5;
}

.rc-content > a{
    text-decoration: none;
    color: #d6d4d5;
}

.rc-content > a:hover{
    text-decoration: none;
    color: #a79fa3;
}

.rc-border {
    border-bottom: 2px solid #52524f;
}

/*Bottom Content*/
.bottom-row{
    border: 10px solid black;
    background-color: white;
    
}

.bottom-banner{
    height: 11rem;
}
.glass {
    z-index: 3;
    position: relative;
}

.glass>p:first-child{
    color: #777772;
    font-size: 1.45rem;
}

.glass>p:nth-child(2){
    color: #aaa5a5;
    font-size: 0.85rem;
}
.glass a {
    float: right;
    text-decoration: none;
    color: #7d8692;
    margin-top: 1rem;
    margin-right: 1rem;
}

.glass a:hover {
    color: #52524f;
}
.glass img {
    position: absolute;
    top: 1.5rem;
    z-index: -100;
}

.plate {
    z-index: 3;
    position: relative;
}

.plate>p:first-child{
    color: #777772;
    font-size: 1.45rem;
}

.plate>p:nth-child(2){
    color: #aaa5a5;
    font-size: 0.85rem;
}
.plate a {
    float: right;
    text-decoration: none;
    color: #7d8692;
    margin-top: 1rem;
    margin-right: 1rem;
}

.plate a:hover {
    color: #52524f;
}
.plate img {
    position: absolute;
    top: 3.5rem;
    z-index: -100;
}


.album{
    position: relative;
    
    
}

.bottom-album-z {
    z-index: 3;
}
.album-title{
font-size: 1.45rem;
color: #777772;
}
.album-desc{
font-size:0.85rem;
color: #aaa5a5;
}
.album-link{
font-size: 1rem;
text-decoration: none;
    color: #7d8692;
}
.album-link:hover{
    color: #52524f;
}
.album-img{
    float: right;
    position: relative;
    left: 0.8rem;
    top: 2rem;
    z-index: -100;

}

/* Footer */
footer {
    color: #979496;
    font-size: 0.85rem;
}

.footer-list{
    display: inline;
}
.footer-list > .footer-link{
    padding-left: 10px;
    padding-right: 10px;
}

.footer-link{
    color: #979496;
    cursor: pointer;
}

.footer-link:not(:last-child) {
    border-right: 1px solid #52524f;
}

input{
    border-top: 3px inset grey;
    border-left: 3px inset grey;
}
