/* Body */

body{
    background: url('res/Images/background12.png');
}

/* .top-bar - MIKASA Logo and following list */

.top-bar{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: grey;
}

.top-bar img {
    position: relative;
    left: 10px;
}
.top-bar ul {
    display: flex;
    position: relative;
    top: 10px;
    justify-content: space-evenly;
    align-items: flex-end;
    list-style: '|';
}

.top-bar ul li:first-child{
    list-style: none;
}
.top-bar ul li {
    padding: 0px 20px 0px 20px;
}

.top-bar ul li img {
    position: relative;
    bottom: 2px;
    left: -1px;
}

.top-bar ul li a {
    text-decoration: none;
}

/*Top Navigation Bar */

.top-nav {
    margin-top: 5px;
    height:50px;
    background-color: #d9d7d8;
    border-top: 5px double white;
    border-bottom: 5px double white;
}


.top-nav > nav{
    list-style: none;
    font-size: medium;
    margin-left: 100px;
    margin-right: 100px;
}


.top-nav-list > li {
    display: inline;
    align-items: center;
    padding: 8px 20px 10px 20px;
    position: relative;
    right:  10px; 
    background-color: #d9d7d8;
    color: black;
    border-right: 1px solid white;
    
}

 .top-nav-form {
    display: inline;
    position: relative;
    right: 40px;
    bottom: 8px;
} 


/*Second Navigation Bar */

.bridal-registry{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 90px;
    justify-content: flex-end;
    align-items:flex-end;
}

.bridal-registry > p {
    position: relative;
    margin: 0px;
    align-self: center;
    padding-left: 2px;
    top: -3px;
}

.second-nav {
    padding-top: 20px;
    margin-bottom: 0px;
    margin-left: -22px;
}

.second-nav-list {
    list-style: '○';
    position: relative;
    top: -8px; 
    color: purple;
    list-style-position: outside;
}

.second-nav-list > li {
    padding-left: 20px;
    padding-right: 10px;
    
}

.second-nav-list > li:first-child {
    list-style: none;
}

hr{
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    top: -12px;
}


/* Top Main Content */
/*Left Side*/

/*Right Side*/
.left-column {
    margin-left: 40px;
}
.right-column {
    background-color: #3d3c3a;
    color: white;
    padding: 40px 50px 0px 30px;
    margin-right: 50px;
    font-size: small;
    line-break: auto;
    flex-grow: 100;
    line-height: 15px;
}

.right-column-content-border {
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 1px solid white;

}