/* Body */

body{
    background: url('res/Images/background12.png');
    font-family: Arial, Helvetica, sans-serif;
    
}

/* HEADER */

/* Header - Nav 1*/

.nav-1__a--border::after {
    content: '|';
    padding-left:22.4px;
}

@media (max-width: 992px) {
    .nav-1__a--border::after {
        content: '';
        padding-left:0px;
    }
}

/*Header - Nav 2 */

.nav-2__a--black {
    color: black;
}
.nav-2__a--black:hover{
    color: grey;
}
.nav-2__container {
    background-color:#dad8d9;
    border-top: 2px solid white;
    border-bottom:2px solid white;
    outline: 1px solid #dad8d9;
}



.nav-2--items__border{
    border-right: 1px solid white;
}

/*Header - Nav 3 */


.nav-3__a::before {
    content: '○';
    padding-right: 16px;
    color: gray;
    cursor: default;
}
@media (max-width: 992px) {
    .nav-3__a::before {
        content: '';
        padding-right: 0px;
        cursor: default;
    }
}

.nav-3__a--right-col {
    text-decoration: none;
    padding-right: 85px;
}

.nav-3__a--right-col:hover {
    color: #3d3c3a;
}


/* MAIN */

/* Main - Row 1 */

.main__container {
    padding: 0px 8px;
    
}

/*Left Side*/
.main__img {
    border: 10px solid white;
    
    
}

/*Right Side*/

.main__box--parent{
    border: 10px solid white;
    border-left: 0px;
    background-color: #3d3c3a;
    align-items: center;
}
.main__box--child {
    background-color: #3d3c3a;
    border: 2px solid #52524f;
    color: #d6d4d5;
}

.main__box__p {
    line-height: 30px;
}

.main__box--content > a{
    text-decoration: none;
    color: #d6d4d5;
}

.main__box--content > a:hover{
    text-decoration: none;
    color: #a79fa3;
}

.main__box--content-border {
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: 2px solid #52524f;
}

.main__box__a {
    font-size: 15px;
    color: #a79fa3;
}


/* Main - Row 2 */
.bottom-row{
    border: 10px solid black;
    background-color: white;
    
}

.bottom-col{
    height: 145px;
}
.bottom--col-1 {
    z-index: 3;
    position: relative;
}

.bottom--col-1>p:first-child{
    font-size: 21.2px;
}

.bottom--col-1>p:nth-child(2){
    color: #aaa5a5;
    font-size: 12.6px;
}
.bottom--col-1 a {
    font-size: 15px;
    float: right;
    text-decoration: none;
    margin-right: 16px;
}

.bottom--col-1 a:hover {
    color: #52524f;
}
.bottom--col-1 img {
    position: absolute;
    top: -6px;
    z-index: -100;
}

.bottom--col-2 {
    z-index: 3;
    position: relative;
    
}

.bottom--col-2>p:first-child{
    font-size: 21.2px;
    
}

.bottom--col-2>p:nth-child(2){
    color: #aaa5a5;
    font-size: 12.6px;
}
.bottom--col-2 a {
    font-size: 15px;
    float: right;
    text-decoration: none;
    margin-right: 16px;
}

.bottom--col-2 a:hover {
    color: #52524f;
}
.bottom--col-2 img {
    position: absolute;
    top: 29px;
    z-index: -100;
}


.bottom--col-3{
    position: relative;
    
    
}

.bottom--col-3-z {
    z-index: 3;
}
.bottom--col-3-title{
font-size: 21.2px;
line-height: 25px;
}
.bottom--col-3-desc{
font-size:12.6px;
color: #aaa5a5;
}
.bottom--col-3-link{
font-size: 15px;
text-decoration: none;
}
.bottom--col-3-link:hover{
    color: #52524f;
}
.bottom--col-3-img{
    float: right;
    position: relative;
    left: 16px;
    top: 0px;
    z-index: -100;

}

.bottom__container{
    padding: 0px 8px;
}

/* Footer */

/* Footer - Row 1 */
footer {
    color: #979496;
    font-size: 15px;
    margin-top: 10px;
}

.footer-list{
    display: inline;
}
.footer-list > .footer-link{
    padding: 0px 10px;
}

.footer-link{
    color: #979496;
    cursor: pointer;
}

.footer-link:not(:last-child) {
    border-right: 1px solid #52524f;
}

input{
    border-top: 3px inset grey;
    border-left: 3px inset grey;
}

.footer-form > input {
    margin-left: 24px;
}